<div class="container-xxl py-5">
  <div class="container">
    <h1>Nouvelle formation</h1>

    <%= render "form", formation: @formation %>

    <br>

    <div>
      <%= link_to "Back to formations", formations_path %>
    </div>
  </div>
</div>